
/* jumbotron with "My Team" */
.jumbotron {
    background-color: rgb(63, 147, 37);
    color: white;
}

/* .team-heading {
    color: red;
} */

.card {
    box-shadow: 9px 9px 22px 0px #000000;
    /* background-color: rgb(0, 153, 255); */
    color: white;
}

/* .card-header {
   background-color: rgb(0, 153, 255);

} */
.employee-card {
    background-color: rgb(0, 153, 255);
    color: white;
}

/* box that extends width of card, edge to edge */
.card-body {
    margin-left: -1px;
    margin-right: -0.5px;
    margin-bottom: -1px;
    background-color: rgb(255, 255, 255);
}

li {
    color: black;
}
    