
/* jumbotron with "My Team" */
.jumbotron {
    background-color: rgb(63, 147, 37);
    color: white;
}

  
/* .team-heading {
    color: red;
} */
   

.team-area {
    border: solid;
    
}
  
    